<h1><%= @board.name %></h1>
<hr />
<h3>Click a List To View Tasks</h3>
<hr />
<%= link_to 'Boards', boards_path %> |
<%= link_to 'Create a New List', new_board_list_path(@board) %>
<hr />
<ul>
 <% @lists.each do |list| %>
  <li><%= link_to list.name, [@board, list] %></li>
 <% end %>
</ul>