<h1>Boards</h1>
<div class="header">
  <hr />
    <button class="ui inverted purple button"><%= link_to 'Create New Board', new_board_path %></button>
  <hr />
</div>
<ul>
  <% @boards.each do |board| %>
    <div class="ui cards">
      <div class="card">
        <div class="content">
        <div class="header">
          <li><%= link_to board.name, board_lists_path(board) %></li>
          </div>
          <%= link_to 'Delete', board, method: :delete %> | <%= link_to 'Edit', edit_board_path(board) %>
          
          </div>
      </div>
    </div>
    <% end %>
    
</ul>

