<h1>Boards</h1>
<hr />
<%= link_to 'Create New Board', new_board_path %>
<hr />
<ul>
  <% @boards.each do |board| %>
    <li><%= link_to board.name, board_lists_path(board) %></li>
    <%= link_to 'Delete', board, method: :delete %> | <%= link_to 'Edit', edit_board_path(board) %>
    <% end %>
</ul>

